apiVersion: v1
kind: ConfigMap
metadata:
  name: kong-config
  namespace: kong
data:
  kong.yml: |
    # Metadata fields start with an underscore (_)
    # Fields that do not start with an underscore represent Kong entities and attributes

    # _format_version is mandatory,
    # it specifies the minimum version of Kong that supports the format

    _format_version: "3.0"

    # _transform is optional, defaulting to true.
    # It specifies whether schema transformations should be applied when importing this file
    # as a rule of thumb, leave this setting to true if you are importing credentials
    # with plain passwords, which need to be encrypted/hashed before storing on the database.
    # On the other hand, if you are reimporting a database with passwords already encrypted/hashed,
    # set it to false.

    _transform: true

    # Custom annotations can be added via _comment and _ignore fields. The comments
    # must be strings, and the ignored fields must be an array, carrying any type as
    # values.  _comment and _ignore fields can appear at the top level of the file
    # and at the top level of any entity.

    _comment: This is a top level comment, and must be a string
    _ignore:
    - This array entry will be ignored
    - as well as this one

    # Each Kong entity (core entity or custom entity introduced by a plugin)
    # can be listed in the top-level as an array of objects:

    services:
      - name: admin-api
        url: http://localhost:8001
        tags: [admin-svc]
        routes:
          - name: admin-api-route
            tags: [admin]
            paths:
              - /
            hosts:
              - admin-172.18.0.2.nip.io
            preserve_host: true
            https_redirect_status_code: 426
            strip_path: false
            regex_priority: 0
            protocols:
              - http
              - https
            request_buffering: true
            response_buffering: true
      - name: manager
        url: http://localhost:8002
        tags: [admin-svc]
        routes:
          - name: manager-ui-route
            tags: [admin]
            paths:
              - /
            hosts:
              - manager-172.18.0.2.nip.io
            preserve_host: true
            https_redirect_status_code: 426
            strip_path: false
            regex_priority: 0
            protocols:
              - http
              - https
            request_buffering: true
            response_buffering: true
      - name: httpbin-service
        url: http://httpbin.org
        tags: [app-svc]
        # Add routes directly to the service
        routes:
          - name: httpbin-route-path
            tags: [path-based]
            paths:
              - /httpbin
        # plugins:
        # - name: key-auth

    # Add route separately and bind to service
    routes:
    - name: httpbin-route-host
      service: httpbin-service
      tags: [name-based]
      hosts: ["hello-172.18.0.2.nip.io"]
      paths: ["/"]
      methods: ["PUT"]

    # consumers:
    # - username: example-user
    #   # Custom entities from plugin can also be specified
    #   # If they specify a foreign-key relationshp, they can also be nested
    #   keyauth_credentials:
    #   - key: my-key
    #   plugins:
    #   - name: rate-limiting
    #     _comment: "these are default rate-limits for user example-user"
    #     config:
    #       policy: local
    #       second: 5
    #       hour: 10000

    # When an entity has multiple foreign-key relationships (e.g. a plugin matching on both consumer and service)
    # it must be specified as a top-level entity, and not through nesting.

    # plugins:
    # - name: rate-limiting
    #   consumer: example-user
    #   service: another-service
    #   _comment: "example-user is extra limited when using another-service"
    #   config:
    #     hour: 2
    #   # tags are for your organization only and have no meaning for Kong:
    #   tags:
    #   - extra_limits
    #   - my_tag
