# ingressController configures kong and overrides kong.yml usage
ingressController:
  enabled: false

podAnnotations:
  kuma.io/gateway: enabled
  # This port must match your Kong admin API port. 8444 is the default.
  # If you set gateway.admin.tls.containerPort, change these annotations
  # to use that value.
  traffic.kuma.io/exclude-outbound-ports: "8444"
  traffic.sidecar.istio.io/excludeOutboundPorts: "8444"

# Kong Enterprise
# image:
#   repository: kong/kong-gateway
#   tag: "3.11"

# Mount the secret created earlier
secretVolumes:
  - kong-cluster-cert

env:
  # Required for DB-less mode
  database: "off"
  # These certificates are used for control plane / data plane communication
  cluster_cert: /etc/secrets/kong-cluster-cert/tls.crt
  cluster_cert_key: /etc/secrets/kong-cluster-cert/tls.key

  # Kong Manager password, username is kong_admin
  # password: kong_admin_password

  # Manager (UI, Enterprise only)
  # Authentication and Authorization in Kong Manager is an Enterprise-only feature.
  # https://developer.konghq.com/gateway/kong-manager/configuration
  # admin_gui_url: http://manager-172.18.0.2.nip.io
  # admin_gui_api_url: http://admin-172.18.0.2.nip.io
  # Change the secret and set cookie_secure to true if using an HTTPS endpoint
  # admin_gui_session_conf: '{"secret":"Y29vbGJlYW5z","storage":"kong","cookie_secure":false}'

# Kong's configuration for DB-less mode
dblessConfig:
  configMap: "kong-config"  # with Key: kong.yml
  # secret: "kong-config"  # with Key: kong.yml
  # Or the configuration is passed in full-text below
  # config: |
  #   _format_version: "1.1"
  #   services:
  #     - name: test-service
  #       url: http://httpbin.org
  #       routes:
  #         - name: test-route
  #           paths:
  #             - /httpbin

# DB-less mode does not support migrations
migrations:
  preUpgrade: false
  postUpgrade: false

# The control plane serves the Admin API
admin:
  enabled: true
  type: ClusterIP
  http:
    enabled: true
  tls:
    enabled: false
  ingress:
    enabled: true
    hostname: admin-172.18.0.2.nip.io
    path: /
    pathType: Prefix
    ingressClassName: kong

manager:
  enabled: true
  type: ClusterIP
  http:
    enabled: true
  tls:
    enabled: false
  ingress:
    enabled: true
    hostname: manager-172.18.0.2.nip.io
    path: /
    pathType: Prefix
    ingressClassName: kong

# Clustering endpoints are required in hybrid mode
cluster:
  enabled: true
  tls:
    enabled: true

clustertelemetry:
  enabled: true
  tls:
    enabled: true

# These roles will be served by different Helm releases
proxy:
  enabled: true

# Enterprise functionality
# enterprise:
#   enabled: true
